.center_form
  %div
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, required: true
      .field
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, required: true
      .field
        = f.label :user_image
        %br/
        = f.file_field :user_image, autofocus: true
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", required: true
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", required: true
      .actions
        = f.submit "Sign up"
    = render "devise/shared/links"
