.thumb
  %figure
    =image_tag(song.album.album_image.url,class:"thumb_image")
    %figcaption
      = link_to album_path(song.album) do
        = image_tag(song.album.album_image.url,class:"thumb_image thumb_caption")
      = link_to 'javascript:void(0)',onclick:"play_music(" + song.id.to_s + "); return false;" do
        = embedded_svg("play_button.svg",class:"play-trigger")
  %h6
    = link_to 'javascript:void(0)',onclick:"play_music(" + song.id.to_s + "); return false;" do
      -if controller.controller_name == "songs"
        %strong{ class: i == 1 || i == 2 || i == 3 ? 'upper_rank' : '' }= i
        = omission_string(song.name)
      -else
        = omission_string(song.name)
  %h6= link_to song.album.artist.name,artist_path(song.album.artist),style:"color: #969696;"
