.slider.myslider
  %div
    =link_to "#" do
      =image_tag("carousel_1.png")
  %div
    =link_to "#" do
      =image_tag("carousel_2.png")
  %div
    =link_to "#" do
      =image_tag("carousel_3.png")
.container
  = render partial: "songs/title_bar", locals: {title: "ランキング",path:"/rankings"}
  .thumb-container
    - @rankings.each.with_index(1) do |song,i|
      = render partial: "songs/song", locals: {song: song,i:i}
.container
  = render partial: "songs/title_bar", locals: {title: "NEW ALBUMS",path:"/trend"}
  .thumb-container
    - @new_albums.each do |album|
      = render partial: "songs/new_album", locals: {album: album}
%hr.midline
.container
  = render partial: "songs/title_bar", locals: {title: "おすすめアーティスト",path:"/trend"}
  .thumb-container
    = render @reccomend_artists
%hr.midline
.container
  = render partial: "songs/title_bar", locals: {title: "みんなのプレイリスト",path:"#"}
  .thumb-container
    - @everyone_playlists.each do |playlist|
      = render partial: "songs/everyone_playlist", locals: {playlist: playlist}
/ チケットモーダル トリガー
%a#ticket_modal_trigger{"data-target" => "#ticket_modal", "data-toggle" => "modal"}
/ チケットモーダル 内容
#ticket_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header{style:"border:none;"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{style:"text-align: center;"}
        = embedded_svg("ticket.svg")
        %h2 MUSIC FREE
        まだログインしたことがないユーザに<br>30日間の無料チケットをプレゼント!
      .modal-footer
        = link_to 'javascript:void(0)' do
          %button.btn.btn-primary.btn-lg.btn_green{"data-dismiss" => "modal",:style => "margin-left: 0;"} チケットを確認
