.container.show_page
  .row.info_container
    .col-md-3
      = image_tag "sample.jpg"
    .col-md-9
      %h2.name アルバム名
      %h4.name アーティスト名
      .container.info
        .row
          .col-md-2.col-xs-6 ソング
          .col-md-2.col-xs-6 2曲
        .row
          .col-md-2.col-xs-6 再生時間
          .col-md-2.col-xs-6 60分
        .row
          .col-md-2.col-xs-6 リリース日
          .col-md-2.col-xs-6 huga
  %table.table
    %tr
      %td= link_to 1,'javascript:void(0)'
      %td 曲名
      %td アーティスト名
      %td 曲長
      %td
        = link_to 'javascript:void(0)' do
          = embedded_svg("un_favorite.svg")
      %td 再生数
    %tr
      %td= link_to 1,'javascript:void(0)'
      %td 曲名
      %td アーティスト名
      %td 曲長
      %td
        = link_to 'javascript:void(0)' do
          = embedded_svg("un_favorite.svg")
      %td 再生数
