%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    //１列目
    .navbar-header
      %a.navbar-brand{:href => root_path}
        %span{style:"color: #38c322;"} LINE
        %span{style:"color: #1e283c;"} MUSIC
      %form.navbar-left.navbar-form{:role => "search"}
        .input-group
          %input.form-control{:name => "q", :type => "text"}/
          .input-group-btn
            %button.btn.btn-default{:type => "submit"}
              %i.glyphicon.glyphicon-search
      /右寄せの部分 http://studio-key.com/Bootstrap/VisualDecoration01.html からパクってきた
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              /todo:ユーザー画像がsvgかそれ以外かで、embedded_svg使うかimage_tag使うかの選択
              = embedded_svg("default_user_image.svg",class:"header-user-image")
              = "user_name"
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to("ログアウト", destroy_user_session_path, method: :delete)
              - if current_user.admin?
                %li.divider
                %li
                  = link_to("アーティストの投稿","#")
                %li
                  = link_to("アルバムの投稿","#")
                %li
                  = link_to("曲の投稿","#")
        - else
          %li
            = link_to("ログイン", new_user_session_path)
    //2列目
    .navbar-header
      /幅を狭めた時にヘッダーのメニュー（#header-menu）がハンバーガーになるようにする。
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#header-menu", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      /ハンバーガーメニューの対象「#header-menu」
      .collapse.navbar-collapse#header-menu
        %ul.nav.navbar-nav
          %li.active
            = link_to "トップ", "#"
          %li
            = link_to "テーマ&ジャンル", "#"
          %li
            = link_to "ランキング", "#"
          /- if user_signed_in?
          %li
            = link_to "マイミュージック", "#"
