!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LINE MUSIC
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :javascript
      function play_music(id) {

        $("tr.active_song") && $("tr.active_song").removeClass("active_song");
        var $tr = $("#" + id);
        $tr.addClass("active_song");

        $.ajax({
          url: '/songs/play',
          type: "get",
          data: {music_id: id},
          dataType: "text",
        }).done(function(data) {
          $('#song').attr('src', data);
          document.getElementById("song").play();
        }).fail(function(data) {
          console.log("音楽の再生に失敗");
        })
        $.ajax({
          url: '/songs/set_music_info',
          type: "POST",
          data: {music_id: id}
        })
      }
      //曲のplaylist追加メインルーチン
      function add_playlist(playlist_id){
        var select_songs = aggregate();
        add_song_to_playlist(select_songs,playlist_id);
        exit();
      }
      //selectedの収集
      function aggregate(){
          var select_songs = []
          $(".selected").each( function() {
              select_songs.unshift($(this).parent().attr("id"));
          });
          return select_songs;
      }
      //データをアクションへ
      function add_song_to_playlist(select_songs,playlist_id){
          var transmisson_data = {}
          transmisson_data['song_id'] = select_songs;
          transmisson_data['playlist_id'] = playlist_id;
          if(!!select_songs[0]){
            $.ajax({
                url: '/playlist_songs',
                type: "POST",
                data: {data: transmisson_data}
            });
          }
      }
      //UIの終了処理
      function exit(){
          //選択状態を外す
          $(".selected").each( function() {
              $(this).removeClass("selected");
          });
          //ドロワーを閉じる
          $("body").removeClass("drawer-open");
          $("body").addClass("drawer-close");
      }
  %body.drawer.drawer--right
    = render "layouts/header"
    -if notice
      .alert-info= notice
    -if alert
      .alert-danger= alert
    %div(data-pjax-container)
      = yield
      = render "playlists/drawer" if user_signed_in?
    = render "layouts/footer"
    = render "layouts/login_modal"
    = render "layouts/playlist_modal"
    .spinner_overlay
